<div id="container">
  <div id="controls">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Products</mat-label>
      <mat-select [(ngModel)]="product">
        <mat-option *ngFor="let product of products" [value]="product">{{product.key}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="fieldset">
      <mat-form-field class="example-half-width" appearance="outline">
        <mat-label>Width Feet</mat-label>
        <input matInput placeholder="Enter Width in Feets" type="number" (keyup)="valueChange()"
          (keydown)="valueChange()" [(ngModel)]="widthFeet" step="0.1">
      </mat-form-field>
      <mat-form-field class="example-half-width" appearance="outline">
        <mat-label>Width Inches</mat-label>
        <input matInput placeholder="Enter Width in Inches" type="number" (keyup)="valueChange()"
          (keydown)="valueChange()" [(ngModel)]="widthInches" step="0.1">
      </mat-form-field>
    </div>
    <div class="fieldset">
      <mat-form-field class="example-half-width" appearance="outline">
        <mat-label>Height Feet</mat-label>
        <input matInput placeholder="Enter Height in Feets" type="number" (keyup)="valueChange()"
          (keydown)="valueChange()" [(ngModel)]="heightFeet" step="0.1">
      </mat-form-field>
      <mat-form-field class="example-half-width" appearance="outline">
        <mat-label>Height Inches</mat-label>
        <input matInput placeholder="Enter Height in Inches" type="number" (keyup)="valueChange()"
          (keydown)="valueChange()" [(ngModel)]="heightInches" step="0.1">
      </mat-form-field>
    </div>
    <div class="fieldset">
      <mat-form-field *ngIf="product.value != 'frameset'" class="example-half-width" appearance="outline">
        <mat-label>Glass Thickness MM</mat-label>
        <input matInput placeholder="Enter Glass Thickness in mm" type="number" (keyup)="valueChange()"
          (keydown)="valueChange()" [(ngModel)]="glassThicknessInches" step="0.1">
      </mat-form-field>
      <mat-form-field *ngIf="product.value != 'glass'" class="example-half-width" appearance="outline">
        <mat-label>Frame Thickness Inches</mat-label>
        <input matInput placeholder="Enter Frame Thickness in Inches" type="number" (keyup)="valueChange()"
          (keydown)="valueChange()" [(ngModel)]="frameThicknessInches" step="0.1">
      </mat-form-field>
    </div>
    <div class="fieldset">
      <mat-form-field *ngIf="product.value != 'glass' " class="example-half-width" appearance="outline">
        <mat-label>MainFrameColor</mat-label>
        <input matInput placeholder="Enter color" type="color" (keyup)="valueChange()" (keydown)="valueChange()"
          [(ngModel)]="mainFrameColor">
      </mat-form-field>
      <mat-form-field *ngIf="product.value != 'glass' " class="example-half-width" appearance="outline">
        <mat-label>SubFrameColor</mat-label>
        <input matInput placeholder="Enter color" type="color" (keyup)="valueChange()" (keydown)="valueChange()"
          [(ngModel)]="subFrameColor">
      </mat-form-field>
    </div>
  </div>
  <div id="mainFrame">
    <app-glass *ngIf="product.key == 'Glass'" [width]="width" [height]="height"
      [glassThickness]="glassThickness"></app-glass>
    <app-frame *ngIf="product.key == 'Single French Door (Frame Set)'" [width]="width" [height]="height" [frameThickness]="frameThickness"
      [mainFrameColor]="mainFrameColor" [subFrameColor]="subFrameColor"></app-frame>
    <app-single-french-door *ngIf="product.key == 'Single French Door'" [width]="width" [height]="height" [glassThickness]="glassThickness" [frameThickness]="frameThickness"
      [mainFrameColor]="mainFrameColor" [subFrameColor]="subFrameColor"></app-single-french-door>
    <app-double-sliding-window-frame-set *ngIf="product.key == 'Double Sliding Window (Frame Set)'" [width]="width" [height]="height" [frameThickness]="frameThickness"
      [mainFrameColor]="mainFrameColor" [subFrameColor]="subFrameColor"></app-double-sliding-window-frame-set>
    <app-double-sliding-window *ngIf="product.key == 'Double Sliding Window'" [width]="width" [height]="height" [glassThickness]="glassThickness" [frameThickness]="frameThickness"
      [mainFrameColor]="mainFrameColor" [subFrameColor]="subFrameColor"></app-double-sliding-window>
  </div>
</div>
