<div id="container">
  <div id="controls">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Products</mat-label>
      <mat-select [(ngModel)]="product">
        <mat-option *ngFor="let product of products" [value]="product">{{product.key}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="fieldset">
      <mat-form-field class="example-half-width" appearance="outline">
        <mat-label>Width Feet</mat-label>
        <input matInput placeholder="Enter Width In Feet" type="number" [(ngModel)]="width" step="0.1">
      </mat-form-field>
      <mat-form-field class="example-half-width" appearance="outline">
        <mat-label>Width Inches</mat-label>
        <input matInput placeholder="Enter Width In Feet" type="number" [(ngModel)]="width" step="0.1">
      </mat-form-field>
    </div>
    <div class="fieldset">
      <mat-form-field class="example-half-width" appearance="outline">
        <mat-label>Height</mat-label>
        <input matInput placeholder="Enter Width" type="number" [(ngModel)]="height" step="0.1">
      </mat-form-field>
      <mat-form-field class="example-half-width" appearance="outline">
        <mat-label>Height</mat-label>
        <input matInput placeholder="Enter Width" type="number" [(ngModel)]="height" step="0.1">
      </mat-form-field>
    </div>
    <div style="padding: 5%;">
      <span>Glass Thickness is equal to half of FrameThickness</span>
    </div>
    <div class="fieldset">
      <mat-form-field class="example-half-width" appearance="outline">
        <mat-label>Glass Thickness</mat-label>
        <input matInput placeholder="Enter Width" type="number" [(ngModel)]="glassThickness" step="0.1">
      </mat-form-field>
      <mat-form-field *ngIf="product.value != 'glass'" class="example-half-width" appearance="outline">
        <mat-label>Frame Thickness</mat-label>
        <input matInput placeholder="Enter Width" type="number" [(ngModel)]="frameThickness" step="0.1">
      </mat-form-field>
    </div>
    <div class="fieldset">
      <mat-form-field *ngIf="product.value != 'glass' " class="example-half-width" appearance="outline">
        <mat-label>MainFrameColor</mat-label>
        <input matInput placeholder="Enter color" type="color" [(ngModel)]="mainFrameColor">
      </mat-form-field>
      <mat-form-field *ngIf="product.value != 'glass' " class="example-half-width" appearance="outline">
        <mat-label>SubFrameColor</mat-label>
        <input matInput placeholder="Enter color" type="color" [(ngModel)]="subFrameColor">
      </mat-form-field>
    </div>
  </div>
  <div id="mainFrame">
    <app-glass *ngIf="product.key == 'Glass'" [width]="width" [height]="height"
      [glassThickness]="glassThickness"></app-glass>
    <app-frame *ngIf="product.key == 'Frame Set'" [width]="width" [height]="height" [frameThickness]="frameThickness"
      [mainFrameColor]="mainFrameColor" [subFrameColor]="subFrameColor"></app-frame>
  </div>
</div>
