<div class="container">
  <div class="header">
    <span class="example-spacer"></span>
    <div class="logo">
      <img class="height100per width100per positionRel" src="../assets/logo.jpg">
    </div>
    <div class="titleFont">
      <span class="pad-botm-1vh">TATHAWADE INDUSTRIES</span>
    </div>
    <span class="example-spacer"></span>
    <div class="mail">
      <img class="headerLogo" src="../assets//icons8-mail-100.png">
      <span>tathawadeindustries@gmail.com</span>
    </div>
    <div class="phone">
      <img class="headerLogo" src="../assets//icons8-phone-100.png">
      <span>+91 96234 45536 | +91 77579 89898</span>
    </div>
    <span class="example-spacer"></span>
  </div>

  <div class="navbar navBack">
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <button class="navButtons" type="button" mat-flat-button>Home</button>
    <button class="navButtons" type="button" mat-flat-button>About Us</button>
    <button class="navButtons" type="button" mat-flat-button>Products</button>
    <button class="navButtons" type="button" mat-flat-button>Gallery</button>
    <button class="navButtons" type="button" mat-flat-button>Contact Us</button>
    <span class="example-spacer"></span>
    <div>
      <button class="requestQuote" type="button" mat-flat-button>Request Quote</button>
    </div>
    <span class="example-spacer"></span>
  </div>

  <div class="footer footerBack">
    <div class="flexDirectionRow">
      <span class="example-spacer"></span>
      <!-- About US -->
      <div class="aboutUsDiv">
        <div class="footerTitle">
          About Us
        </div>
        <div>
          We are manufacturer, supplier of all types of French Doors, Aluminium Sliding Windows, Aluminium Doors,
          Sliding Doors, Mosquito Window and Our setup is situated in Pune, Maharashtra, India. The Tathawade Industries
          has become the fastest French Door &amp; Window manufacturer in Pune. The Tathawade Industries is a well known
          and trusted brands in the Domestic Building Industries.
        </div>
      </div>

      <!-- Quick Links -->
      <div class="quickLinks">
        <div class="footerTitle">Quick Links</div>
        <div class="flexDirectionCol">
          <button type="button" mat-button>Home</button>
          <button type="button" mat-button>About Us</button>
          <button type="button" mat-button>Product</button>
          <button type="button" mat-button>Gallery</button>
          <button type="button" mat-button>Contact Us</button>
        </div>
      </div>

      <!-- Products -->
      <div class="products">
        <div class="footerTitle">Products</div>
        <div>
          <ul class="fa-tick-mark-list">
            <li><i class="fas fa-check"></i> White Galvanized Iron French Doors</li>
            <li><i class="fas fa-check"></i> Residential GI French Doors</li>
            <li><i class="fas fa-check"></i> Outdoor Galvanized Iron French Doors</li>
            <li><i class="fas fa-check"></i> Rectangular Galvanized Iron French Doors</li>
            <li><i class="fas fa-check"></i> View All Products</li>
          </ul>
        </div>
      </div>

      <!-- Contact Us -->
      <div class="contactUs">
        <div class="footerTitle">Contact Us</div>
        <div class="contactParam">
          <div class="material-symbols-outlined">
            location_on
          </div>
          <div>Sr. No. 64 / 1, A / P Tathawade, Aundh-Ravet BRT Road,Opp. Balaji Law College, PCMC, Pune - 411033, Maharashtra, India</div>
        </div>
        <div class="contactParam">
          <div class="material-symbols-outlined">
            phone_in_talk
          </div>
          <div>+91 96234 45536</div>
        </div>
        <div class="contactParam">
          <div class="material-symbols-outlined">
            phone_in_talk
          </div>
          <div>+91 77579 89898</div>
        </div>
        <div class="contactParam">
          <div class="material-symbols-outlined">
            mail
          </div>
          <div>tathawadeindustries@gmail.com
          </div>
        </div>
      </div>
      <span class="example-spacer"></span>
    </div>
    <div class="line-container">
      <div class="line"></div>
      <h2 class="center-heading">TATHAWADE INDUSTRIES</h2>
      <div class="line"></div>
  </div>
  <div>Copyright © 2024 Tathawade Industries | Developed by Harshal Chopade</div>
  <router-outlet></router-outlet>
</div>
