/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
  height: max-content;
  width: 100%;
  overflow-x: hidden;

}

body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}

#threejs-container {
  position: relative;
  height: 100%;
  width: 100%;
}

#container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.example-spacer {
  flex: 1 1 auto;
}

@font-face {
  font-family: 'Spy';
  src: url('./assets/spy-agency_woff/spyagency3_2bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
